XAGDOP/xagdop/ressources/XML/projects.dtd

<!DOCTYPE projects
[
	<!ELEMENT projects (projet*)>
	<!ELEMENT project (user*)>
	<!ELEMENT user (rights)>
	<!ATTLIST user
		login NMTOKEN #REQUIRED
	>
	<!ELEMENT rights (pmanager*|architect*|analyst*|redactor*)>
	<!ELEMENT pmanager EMPTY>
	<!ELEMENT architect EMPTY>
	<!ELEMENT analyst EMPTY>
	<!ELEMENT redactor EMPTY>
	
	<!ATTLIST project
		name NMTOKEN #REQUIRED
		desc CDATA   #IMPLIED
	>
]>